{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Catalog Category{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md12">
            <p class="lead">{{ category.Title | default("All Products")}}</p>
        </div>

        {% for product in products %}
            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="thumbnail">
                    <img src="{{ product.Image }}" alt="">
                    <div class="caption" style="height: 150px; overflow: hidden;">
                        <h4 class="pull-right">{{ product.Price.Currency.Sign }}{{ product.Price.Value }}</h4>
                        <h4><a href="{{ path('catalog_product', {'categoryAlias': product.Category.Alias, 'productAlias': product.Alias}) }}">{{ product.Title }}</a>
                        </h4>
                        <p>{{ product.Description }}</p>
                    </div>
                    <div class="ratings" style="padding: 9px;">
                        <p class="pull-right">{{ product.Ratings | length }} reviews</p>
                        <p>
                            {% for i in 0..5 %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}