{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Product{% endblock %}

{% block content %}
    <div class="thumbnail">
        <img class="img-responsive" src="{{ product.Image }}" alt="">
        <div class="caption-full">
            <h4 class="pull-right">{{ product.Price.Currency.Sign }}{{ product.Price.Value }}</h4>
            <h4><a href="{{ path('catalog_product', {'categoryAlias': product.Category.Alias, 'productAlias': product.Alias}) }}">{{ product.Title }}</a>
            </h4>
            <p>{{ product.Description }}</p>
        </div>
    </div>

    <div class="well">
        {% for rating in product.Ratings %}
            <div class="row">
                <div class="col-md-12">
                    {% for i in 0..5 %}
                        {% if i <= rating.Rate %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% endif %}
                    {% endfor %}
                    {{ rating.Author }}
                    <span class="pull-right">{{ rating.postDate | date('m/d/Y H:i:s') }}</span>
                    <p>{{ rating.Comment }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}